<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/easyRF_logo_2014.png" alt="EasyRF" width="300">    
    <p class="lead">Kick-start your next IOT project with easyRF</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="page-header">Devices</h1>   
      <select ng-model="selectedDevice" ng-options="device.id for device in devices"></select><br>   
      <h1 class="page-header">Sensor Data</h1>      
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">Parameter</th><th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in selectedDevice">
            <td>{{key}}</td><td>{{value}}</td>
          </tr>  
        </tbody>            
      </table>
    </div>
    <!-- <div class="col-lg-6 coloredRectangle"></div> -->
    <div class="col-lg-6">
      <canvas id="network" width="400" height="400"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <button type="button" class="btn btn-default ledButton" ng-click="toggleLed()">Toggle LED</button>
    </div>
  </div>  
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://github.com/EasyRF/">Visit us on GitHub</a></p>
  </div>
</footer>
